<%!

%>

<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> ${self.meta()}
    <title>${self.title()}</title>
    ${self.doc_head()}
</head>

<body>
    ${self.content()} ${self.footer()}
</body>

</html>

<%def name="meta()">
</%def>
    
<%def name="title()">
dou fine
</%def>

<%def name="more_header()">
</%def>

<%def name="more_meta()">
</%def>

<%def name="css()">
</%def>

<%def name="js()">
</%def>

<%def name="doc_head()">
</%def>

<%def name="footer()">
</%def>