<%!

%>

    <!DOCTYPE html>
    <html lang="zh-CN">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> ${self.meta()}
        <title>${self.title()}</title>
        ${self.doc_head()}
    </head>

    <body>
        <div class="root">
            ${self.content()} ${self.footer()}
        </div>
    </body>

    </html>

    <%def name="meta()">
</%def>
    
<%def name="title()">
    dou fine
</%def>

<%def name="more_header()">
</%def>

<%def name="more_meta()">
</%def>

<%def name="css()">
</%def>

<%def name="js()">
</%def>

<%def name="doc_head()">
    ## <link href="${static('blog/static/css/base.css')}" rel="stylesheet">
    ## <link href="${static('css/base.css')}" rel="stylesheet">
    <link type="text/css" href="${url_for('static', filename='css/base.css')}" rel="stylesheet">
</%def>

<%def name="footer()">
    <div class="footer">
        <div class="footer-content">
            <div class="left">
                    <p> 北京读书群 </p>
            <div>
        </div>
    </div>
</%def>