/* $item_width: 100px;
$black: #2A363B */


/* .root {
    width: 100%;
    height: 100%;
} */

.content {
    width: 100%;
    height: 100%;
}

.content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.content-container .item {
    width: 290px;
    height: 390px;
    margin: 12px;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 3px;
    -webkit-transition: 200ms ease-in-out;
    -o-transition: 200ms ease-in-out;
    transition: 200ms ease-in-out;
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

.content-container .item:hover {
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
}

.content-container .item .dete-container {
    width: 100%;
    height: 22px;
    margin: 22px 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.9);
}

.content-container .item .des-container {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    height: 96px;
    margin-top: 81px;
    display: flex;
    align-items: center;
    text-align: center;
}

.content-container .item .des-container div {
    padding: 20px;
}

.content-container .item .logo-container {
    position: relative;
    margin-top: 60px;
    width: 80px;
    height: 80px;
    border-radius: 40px;
    /* width: 80px;
    height: 80px;
    position: relative;
    border-radius: 100px;
    margin: 85px auto; */
    /*  */
    background: #2b5876;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(#4e4376), to(#2b5876));
    background: -webkit-linear-gradient(left, #4e4376, #2b5876);
    background: -o-linear-gradient(left, #4e4376, #2b5876);
    background: linear-gradient(to right, #4e4376, #2b5876);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    -webkit-box-shadow: 0 0 20px darkblue;
    box-shadow: 0 0 20px darkblue;
    /* background: #2b5876;
    box-shadow: 0 0 20px #2b5876; */
    /* background: #f857a6; */
    /* box-shadow: 0 0 20px #f857a6; */
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.content-container .item .logo-container h4 {
    color: #fff;
    font-size: 40px;
    text-align: center;
    font-weight: 100;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* top: 16px; */
}